<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
	<head>
		<meta charset="ISO-8859-1">
		<title>Tech Grid | Electronics Store</title>
		<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/home.css}">
		<link rel="stylesheet" href="./home.css">
	</head>
	<body>
		<section style="background-color: black;">
			<div class="frameset">
				<div id="carouselExample" class="carousel slide">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="img/promo1.png" class="d-block w-100" alt="..." height="700px" width="500px">
						</div>
						<div class="carousel-item">
							<img src="img/ecom3.jpg" class="d-block w-100" alt="..." height="400px">
						</div>
						<div class="carousel-item">
							<img src="img/ecom2.jpg" class="d-block w-100" alt="..." height="400px">
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			<br>
			<br>
			

			<!--< Start Category Module -->
			<div class="container">
				<div class="row">
					<p class="text-center fs-4" style="color: white; font-size: 1.5em; font-weight: bold;">Browse by Category</p>
<br><br><br>
					<div class="col-md-2">
						<div class="card shadow-sm p-3 mb-5 rounded custom-card" style="background-color: black; border: 1px solid white;">
							<div class="card-body text-center">
								<img src="img/category_img/Category-CellPhone.png" height="50px" style="margin-bottom: 10px;">
								<br>
								<p style="color: white; margin-bottom: -10px;">Phones</p>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card shadow-sm p-3 mb-5 rounded custom-card" style="background-color: black; border: 1px solid white;">
							<div class="card-body text-center">
								<img src="img/category_img/Category-Camera.png" height="50px" style="margin-bottom: 10px;">
								<br>
								<p style="color: white; margin-bottom: -10px;">Cameras</p>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card shadow-sm p-3 mb-5 rounded custom-card" style="background-color: black; border: 1px solid white;">
							<div class="card-body text-center">
								<img src="img/category_img/Category-Computer.png" height="50px" style="margin-bottom: 10px;">
								<br>
								<p style="color: white; margin-bottom: -10px;">Computers</p>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card shadow-sm p-3 mb-5 rounded custom-card" style="background-color: black; border: 1px solid white;">
							<div class="card-body text-center">
								<img src="img/category_img/Category-Gamepad.png" height="50px" style="margin-bottom: 10px;">
								<br>
								<p style="color: white; margin-bottom: -10px;">Gaming</p>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card shadow-sm p-3 mb-5 rounded custom-card" style="background-color: black; border: 1px solid white;">
							<div class="card-body text-center">
								<img src="img/category_img/Category-Headphone.png" height="50px" style="margin-bottom: 10px;">
								<br>
								<p style="color: white; margin-bottom: -10px;">Accessories</p>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card shadow-sm p-3 mb-5 rounded custom-card" style="background-color: black; border: 1px solid white;">
							<div class="card-body text-center">
								<img src="img/category_img/Category-SmartWatch.png" height="50px" style="margin-bottom: 10px;">
								<br>
								<p style="color: white; margin-bottom: -10px;">Smart Watches</p>
							</div>
						</div>
					</div>


				</div>
			</div>
			<!-- End Category Module -->


			<!-- Start Latest Product Module -->

			<div class="container-fluid bg-black p-3">
				<div class="row" style="padding: 7.5rem; margin-top: -5rem;">
					<p class="text-center fs-4 text-white" style="margin-bottom: 4rem;">Best Selling Items</p>
			
					<div class="col-md-3" >
						<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" style="width: 290px;">
							<div class="card-body">
								<center><img alt="" src="img/product_img/gamepad.png" class= width="65%" height="140px"></center>
								<p style="text-align: left; font-size: 21px; margin-bottom: -15px; margin-top: 25px; margin-left: -10px;">HAVIT HV-G92 Gamepad</p><br>
								<div class="price" style="display: flex;">
									<p style="font-weight: bold; margin-right: 10px; font-size: 20px; margin-left: -10px;">LKR 300000</p><p style="text-decoration: line-through; margin-top: 5px;">LKR 350000</p>
								</div>
								<div class="rating" style="display: flex; height: 25px; margin-left: -10px;"><img alt="" src="img/product_img/stars.png" style="margin-right: 10px;"> <p style="color: grey;">(84)</p></div>
							</div>
						</div>
					</div>
			
					<div class="col-md-3" >
						<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" style="width: 290px;">
							<div class="card-body">
								<center><img alt="" src="img/product_img/gamepad.png" class= width="65%" height="140px"></center>
								<p style="text-align: left; font-size: 21px; margin-bottom: -15px; margin-top: 25px; margin-left: -10px;">HAVIT HV-G92 Gamepad</p><br>
								<div class="price" style="display: flex;">
									<p style="font-weight: bold; margin-right: 10px; font-size: 20px; margin-left: -10px;">LKR 300000</p><p style="text-decoration: line-through; margin-top: 5px;">LKR 350000</p>
								</div>
								<div class="rating" style="display: flex; height: 25px; margin-left: -10px;"><img alt="" src="img/product_img/stars.png" style="margin-right: 10px;"> <p style="color: grey;">(84)</p></div>
							</div>
						</div>
					</div>
			
					<div class="col-md-3" >
						<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" style="width: 290px;">
							<div class="card-body">
								<center><img alt="" src="img/product_img/gamepad.png" class= width="65%" height="140px"></center>
								<p style="text-align: left; font-size: 21px; margin-bottom: -15px; margin-top: 25px; margin-left: -10px;">HAVIT HV-G92 Gamepad</p><br>
								<div class="price" style="display: flex;">
									<p style="font-weight: bold; margin-right: 10px; font-size: 20px; margin-left: -10px;">LKR 300000</p><p style="text-decoration: line-through; margin-top: 5px;">LKR 350000</p>
								</div>
								<div class="rating" style="display: flex; height: 25px; margin-left: -10px;"><img alt="" src="img/product_img/stars.png" style="margin-right: 10px;"> <p style="color: grey;">(84)</p></div>
							</div>
						</div>
					</div>
			
					<div class="col-md-3" >
						<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" style="width: 290px;">
							<div class="card-body">
								<center><img alt="" src="img/product_img/gamepad.png" class= width="65%" height="140px"></center>
								<p style="text-align: left; font-size: 21px; margin-bottom: -15px; margin-top: 25px; margin-left: -10px;">HAVIT HV-G92 Gamepad</p><br>
								<div class="price" style="display: flex;">
									<p style="font-weight: bold; margin-right: 10px; font-size: 20px; margin-left: -10px;">LKR 300000</p><p style="text-decoration: line-through; margin-top: 5px;">LKR 350000</p>
								</div>
								<div class="rating" style="display: flex; height: 25px; margin-left: -10px;"><img alt="" src="img/product_img/stars.png" style="margin-right: 10px;"> <p style="color: grey;">(84)</p></div>
							</div>
						</div>
					</div>
					<center><button style="width: 13rem; padding: 0.5rem; background-color: aquamarine; font-weight: bold;">VIEW ALL ITEMS</button></center>
				</div>
			</div>
			


			<!-- End Latest Product Module -->
		</section>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>

	</body>
</html>